@charset "utf-8";
/* CSS Document */

	.alice{background: #FCFDFE;}
    .blue1{background: #DAE4E8;}
    .blue2{background: #D6DFE4;}
    .blue3{background: #CCD6DB;}
    .green{background: #E4F6DD;}
    .venus{background: #8C898A;}
	.ath{background: #AF2719;}
	.ath2{background: #EB3422;}
	.ath3{background: #FF6152;}
/*	
	font-family: 'Open Sans', sans-serif;
	font-family: 'Slabo 27px', serif;
*/

*{
	font-family: 'Open Sans', sans-serif;
	padding:0;
}
html, body{
	margin:0 auto;
	padding:0;
	height:100%;
	width:100%;
}
ul, li{
	padding:0;
	text-decoration:none;
	list-style:none;
	margin:0 auto;
}
a,a:visited{
	color:#B5C2CC;
	text-decoration:none !important;
}

body{
	background:#FCFDFE;
}
header{
	margin:0 auto;
	padding:0;
	border-bottom:solid 1px #DAE4E8;
	box-sizing:border-box;
	overflow:hidden;
}
	.logo-div{
		display:block;
		float:left;
		width:400px;
		margin-left:50px;
		box-sizing:border-box;
	}
		.title-h1{
			display:table;
			font-family:'Open Sans', sans serif;
			font-weight:600;
			margin:0;
			width:400px;
			box-sizing:border-box;
			vertical-align:middle;
		}
		.title-h1 a:hover img{
			transform:rotate(360deg);
			transition: all ease-in-out 1.3s
		}
			.title-h1 a{
				color:#4B5862 !important;
				display:block;
				position:relative;
				box-sizing:content-box;
			}
				.title-h1 img{
					width:50px;
					position:absolute;
					margin:8px 10px 8px 10px;
					top:0;
					bottom:0;
					left:0;
					right:0;
				}
				.title-h1 span{
					display:block;
					position:absolute;
					line-height:60px;
					top:0;
					bottom:0;
					left:75px;
					right:0;
				}
	.menu{
		margin:0 auto;
		width:500px;
		padding:0;
		display:block;
		box-sizing:border-box;
		overflow:hidden;
	}
		.menu-ul{
			margin:0 auto;
			padding:0;
			overflow:hidden;
			display:block;
			box-sizing:border-box;
		}
			.menu-li{
				padding:0;
				float:left;
				position:relative;
				text-align:center;
				overflow:hidden;
			}
				.menu-a{
					position:relative;
					padding:20px 10px;;
					width:100px;
					display:block;
					overflow:visible;
					font-weight:600;
					transition:all ease-out .2s;
					box-sizing:border-box;
					color:#B5C2CC;
					text-decoration:none !important;
				}
				.menu-a-active{
					box-sizing:border-box;
					color:#4B5862 !important;
				}
				.menu-a-active::after{
					bottom:0 !important;
					content:'';
					position:absolute;
					width:100%;
					height:5px;
					left:0%;
					border-bottom:solid #FF6152 5px;
				}
				.menu-a-no::after{
					content:'';
					position:absolute;
					width:100%;
					height:5px;
					bottom:-5px;
					left:0%;
					border-bottom:solid #FF6152 5px;
					transition:all ease-out .2s;
				}
				.menu-a:hover::after{
					bottom:0;
				}
				.menu-a:hover{
					color:#6E7D85;
				}

main{
	width:1200px;
	padding:0;
	margin: 0 auto;
}
	.in-form{
		width:100%;
	}
		.title-index{
			text-transform: uppercase;
			margin-top:50px;
			font-size: 45px;
			text-align: center;
			width: 100%;
			color: #97ABB9;
			font-family:'Open Sans', sans serif;
			font-weight:600;
		}
		.form-player{
			width:50%;
			height:100%;
			box-sizing: border-box;
			float: left;
			margin-top:70px;
			padding:0 20px;
			border-right:1px solid #DAE4E8;
		}
		.main-info{
			overflow:hidden;
		}
			.form-photo{
				border-radius: 100%;
				overflow: hidden;
				width:200px;
				height:200px;
				float:left;
				box-shadow:1px 1px 5px rgba(102,102,102,.75);
				margin:5px;
			}
			.form-player-detail{
				float: left;
				padding-left: 30px;
			}
				.in-form-title{
					text-transform: uppercase;
					color: #B5C2CC;
					font-size: 30px;
					box-sizing: border-box;
					-webkit-margin-after:0;
					-webkit-margin-before:0;
					font-family:'Open Sans', sans serif;
					font-weight:400;
					
				}
				.player-name{
					font-family:'Open Sans', sans serif;
					font-weight:600;
					/*overflow:hidden;*/
					font-size: 30px;
					box-sizing: border-box;
					-webkit-margin-after:0;
					-webkit-margin-before:0;
					margin-top:15px;
				}
					.player-name a{
						color:#647582;
						position:relative;
						overflow:hidden;
						transition:all ease-out .3s;
					}
					.player-name a:hover{
						color: #4B5862;
					}
				.players-team{
					color:#97abb9;
					font-size:20px;
					-webkit-margin-after:0;
					-webkit-margin-before:0;
					display:inline-block;
					vertical-align:middle;
					margin-top:15px;
				}
					.players-team img{
						width:22px;
						display:inline-block;
						vertical-align:middle;
					}
					.players-team span{
						display:inline-block;
						vertical-align:middle;
						
					}
				.players-info{
					color:#97abb9;
					-webkit-margin-after:0;
					-webkit-margin-before:0;
					font-size:20px !important;
					margin-top:5px;
				}
					.icon-info{
						vertical-align:middle;
						font-size:20px !important;
					}
					.players-info span{
						vertical-align:middle;
					}
		.stats-container{
			margin-top:50px;
		}
		.table-player-index{
			box-sizing:border-box;
			clear:both;
			display:table;
			border:none;
			width:100%;
			border-collapse:collapse;
			border:1px solid #B5C2CC;
			border-radius:1px;
			overflow:visible;
			font-family:'Open Sans', sans serif;
			font-weight:600;
			color:#97abb9;
		}
			.table-titles{
				padding:0;
			}
				.match-title{
					width:30px !important;
					height:20px;
					box-sizing:border-box;
					max-height:20px;
					padding:0;	
					text-align:center;
					line-height:35px;
				}
				.match-title img{
					width:15px;
				}
			.stats-table-row{
				display:table-row;
			}
				.stats-table-cell{
					width:20px;
					display:table-cell;
					height:35px;
					border:1px solid #B5C2CC;
					text-align:center;
					line-height:35px;
				}
				.match-stats{
					width:30px !important;
					height:20px;
					display:table-cell;
					text-align:center;
					border:1px solid #B5C2CC;
				}
				.stats-value{
					font-weight:400 !important;
				}
		.form-team{
			width:50%;
			box-sizing: border-box;
			border-left:1px solid #DAE4E8;
			float:left;
			margin-top:70px;
			padding:0 20px;
		}
			.form-team-photo-container{
				width:200px;
				display:block;
				margin:5px;
				float:left;
				box-sizing:border-box;
				overflow:hidden;
			}
			.form-team-photo{
				height:200px;
				max-height:200px;
				max-width:200px;
			}


/* Tooltip */
.test + .tooltip > .tooltip-inner {
    background-color: #4B5862; 
    color: #FFFFFF; 
    border: 1px solid #4B5862;
    padding: 5px;
    font-size: 12px;
	font-family:'Open Sans', sans serif;
	font-weight:400;
}
/* Tooltip on top */
  .test + .tooltip.top > .tooltip-arrow {
      border-top: 5px solid #4B5862;
  }

/*------------- GOOGLE ICON FONT -----------*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}